Nous allons étudier la mort subite 
D'abord, importons nos packages et ouvrons les bases de données

In [2]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [3]:
Table_Pop = pd.read_csv('MSTP.csv', sep = ';') #Je réimporte à chaque fois en local la base de données. Je ne stocke pas sur Git car données sensibles 
bd0 = pd.read_csv('MS_BD0.csv', sep = ';', parse_dates=[1])
bd1 = pd.read_csv('MS_BD1.csv', sep = ';', parse_dates=[1])
bd2 = pd.read_csv('MS_BD2.csv', sep = ';', parse_dates=[1])

Je vais concaténer les traitements.

In [4]:
bdtot = pd.concat([bd0, bd1, bd2])

On va établir une liste des enquêtés pour pouvoir compter leurs soins à l'avenir

In [6]:
list_enq = [] #On crée une liste vide
for elem in Table_Pop['NUM_ENQ']:
    list_enq.append(str(elem))#On ajoute chaque numéro d'enquêté, présent une seule fois sur la table de population

Maintenant, on va chercher à compter combien d'actes de soins ont été reçus par enquêtés. Pour ce faire, nous allons compter les occurences de chaque éléments de la liste dans la base de données totale. On va les implémenter dans la Table Pop ensuite.

In [8]:
#Création d'un début de dataframe pour remplir boucle
ar = np.array([0, 0]) #Première ligne arbitraire
Nb_Soins = pd.DataFrame(ar) #Conversion de la matrice en DataFrame
Nb_Soins = Nb_Soins.transpose()
Nb_Soins.columns = ['NUM_ENQ', 'NB_SOIN'] #On nomme les colonnes'''
 
#On va maintenant chercher à associer à chaque enquêté le nombre de soin reçu.
#Calcul des soins par personnes et création d'une dataframe qui associe au numéro le nombre de soin
for elem in list_enq:
    c = 0 #Ce sera notre compteur d'itération
    for val in bdtot['NUM_ENQ']:
        if elem==val:
            c = c+1
    ar_temp = np.array([elem, c])
    df_temp = pd.DataFrame(ar_temp)
    df_temp = df_temp.transpose()
    df_temp.columns = ['NUM_ENQ', 'NB_SOIN']
    Nb_Soins = pd.concat([Nb_Soins, df_temp])

Nb_Soins

KeyboardInterrupt:

In [7]:
#on retire la ligne 0 
Nb_Soins_c = Nb_Soins.copy()
Nb_Soins_c = Nb_Soins_c[Nb_Soins_c['NUM_ENQ']!=0]

NameError: name 'Nb_Soins' is not defined

In [23]:
#L'opération ci-dessus étant très longue, on va exporter Nb_Soin pour pas avoir à refaire cette étape. On mettra sur drive la base de données
#Nb_Soins_c.to_excel('Nb_Soins.xlsx')

Nb_Soins_c.to_csv('Nb_Soins.csv')

#Ouvrir la nouvelle dataframe après ré-importation locale 
#Nb_Soins = pd.read_excel('Nb_Soins.xlsx')

In [29]:
#On va joindre la base des soins avec la Table_Pop
Table_Pop = Table_Pop.merge(Nb_Soins)
Table_Pop['NB_SOIN'] =  Table_Pop['NB_SOIN'].astype(float)

Ainsi, on peut commencer à effectuer quelques statistiques descriptives

In [27]:
Table_Pop.describe()

,ANTERIORITE_DISPONIBLE,SEXE,CMU,AME,DECES,AGE,TYPE_LIEU,TEMOIN,RCP_TEMOIN,ADMIS_VIVANT_HOPITAL,RYTHME_CHOQUABLE,CORO,ANN_EVT,TYPE_ASSURANCE
count,4706.000000,4706.000000,4686.000000,4686.000000,4706.000000,4706.000000,4692.000000,4642.000000,3127.000000,4706.000000,4207.000000,1893.000000,0.0,0.0
mean,3485.071186,0.716107,0.147461,0.018353,0.888228,43.804098,0.355712,0.657691,0.647586,0.373991,0.293558,0.505018,NaN,NaN
std,940.866164,0.450933,0.354602,0.134237,0.315119,9.324248,0.478779,0.474534,0.477799,0.483913,0.455446,0.500107,NaN,NaN
min,1961.000000,0.000000,0.000000,0.000000,0.000000,18.015428,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,2677.000000,0.000000,0.000000,0.000000,1.000000,38.514822,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,3390.000000,1.000000,0.000000,0.000000,1.000000,46.517040,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,NaN,NaN
75%,4307.750000,1.000000,0.000000,0.000000,1.000000,51.272100,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN
max,5248.000000,1.000000,1.000000,1.000000,1.000000,54.996338,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN

On peut essayer de comparer avec des variables socio-démographiques. Par exemple, on pourrait penser que les hommes se rendent moins chez le médecin, et donc subissent moins d'actes médicaux, ou sont éventuellement sur-représentés faute de traitement de signe avant coureur. (Pb : Je sais pas si 1 correspond à homme ou femme donc je ne pourrai pas livrer une interprétation de suite)

Autres idées que j'ai pas codé :
- Régression linéraire entre nbr soin et décès
- Lien entre présence de témoins/décès/fait d'être transporté vivant

In [ ]:
df_0 = Table_Pop[Table_Pop['SEXE']==0.0]
df_1 = Table_Pop[Table_Pop['SEXE']==1.0]

df_0.describe()
df_1.describe()

Cependant, nous perdons l'aspect temporel avec cette manière de décrire, il faudrait indexer par les jours la fréquence de soins pour avoir une idée de leur comportement dans le temps

On va donc essayer de déterminer le nombre de soins à l'approche de la date, en faisant des variables catégorielles pour ensuite représenter un histogramme. On se servira de bdtot. Idées sur : https://ichi.pro/fr/statistiques-de-base-pour-l-analyse-des-series-temporelles-en-python-84324298089781

In [6]:
bdtot['DIFF_DAY'] = bdtot['DIFF_DAY'].astype(np.float64)

In [9]:
bdtot['DIFF_DAY'].quantile(q =[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]) #On détermine les déciles pour créer des catégories

0.0   -1824.0
0.1   -1598.0
0.2   -1379.0
0.3   -1169.0
0.4    -973.0
0.5    -784.0
0.6    -606.0
0.7    -437.0
0.8    -284.0
0.9    -136.0
1.0      -1.0
Name: DIFF_DAY, dtype: float64

Nous allons donc créer des catégories à partir de ces valeurs.

In [40]:
bdtot_c = bdtot.copy() #On conserve une copie

In [41]:
bdtot_c['DIFF_DAY'] = pd.cut(bdtot_c['DIFF_DAY'], 10)

In [46]:
bdtot_c.dtypes

liste

[Interval(-365.6, -183.3, closed='right'),
 Interval(-1641.7, -1459.4, closed='right'),
 Interval(-547.9, -365.6, closed='right'),
 Interval(-183.3, -1.0, closed='right'),
 Interval(-1094.8, -912.5, closed='right'),
 Interval(-912.5, -730.2, closed='right'),
 Interval(-1825.823, -1641.7, closed='right'),
 Interval(-1277.1, -1094.8, closed='right'),
 Interval(-730.2, -547.9, closed='right'),
 Interval(-1459.4, -1277.1, closed='right')]

In [47]:
ar = np.array([0, 0]) #Première ligne arbitraire
Nb_Soins = pd.DataFrame(ar) #Conversion de la matrice en DataFrame
Nb_Soins = Nb_Soins.transpose()
Nb_Soins.columns = ['TPS', 'NB_SOIN'] #On nomme les colonnes'''
liste = list(set(list(bdtot_c['DIFF_DAY'])))


 
#On va maintenant chercher à associer à chaque enquêté le nombre de soin reçu.
#Calcul des soins par personnes et création d'une dataframe qui associe au numéro le nombre de soin
for elem in liste:
    c = 0 #Ce sera notre compteur d'itération
    for val in bdtot_c['DIFF_DAY']:
        if elem==val:
            c = c+1
    ar_temp = np.array([elem, c])
    df_temp = pd.DataFrame(ar_temp)
    df_temp = df_temp.transpose()
    df_temp.columns = ['TPS', 'NB_SOIN']
    Nb_Soins = pd.concat([Nb_Soins, df_temp])

Nb_Soins

                    TPS NB_SOIN
0                     0       0
0      (-365.6, -183.3]  111825
0    (-1641.7, -1459.4]   74602
0      (-547.9, -365.6]   99804
0        (-183.3, -1.0]  119825
0     (-1094.8, -912.5]   85375
0      (-912.5, -730.2]   88814
0  (-1825.823, -1641.7]   72994
0    (-1277.1, -1094.8]   82162
0      (-730.2, -547.9]   95525
0    (-1459.4, -1277.1]   76887

In [70]:
Nb_Soins_c = Nb_Soins.copy()
Nb_Soins_c = Nb_Soins_c[Nb_Soins_c['TPS']!=0]

In [71]:
Nb_Soins_c.dtypes

TPS        object
NB_SOIN    object
dtype: object

In [75]:
Nb_Soins_c['NB_SOIN']=Nb_Soins_c['NB_SOIN'].astype(np.float64)

In [76]:
Nb_Soins_c.hist(Nb_Soins_c['TPS'])

KeyError: "None of [Index([((-365.6, -183.3], (-1641.7, -1459.4], (-547.9, -365.6], (-183.3, -1.0], (-1094.8, -912.5], (-912.5, -730.2], (-1825.823, -1641.7], (-1277.1, -1094.8], (-730.2, -547.9], (-1459.4, -1277.1])], dtype='object')] are in the [columns]"